* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(167, 97, 36);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(167, 97, 36);
  padding: 1em;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

.info {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie {
  color: rgb(14, 13, 13);
  background-color: rgb(239, 232, 232);
  padding: 0.5em;
  border: 2px solid rgb(14, 13, 13);
  border-radius: 15px;
}

.movies img {
  border-radius: 15px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.types {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.rbtn {
  display: flex;
  gap: 5px;
}

.anime {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
}

.searching {
  display: flex;
  gap: 10px;
}


.search-input {
  width: 90%;
  padding: 0.3em;
  border: 2px solid rgb(14, 13, 13);
  border-radius: 5px;
  color: rgb(14, 13, 13);
}

.search-button {
  border: 2px solid rgb(14, 13, 13);
  width: 10%;
  padding: 0.3em;
  border-radius: 5px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #0022ff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
